<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catstagram.mapper.FeedLikeMapper">
	<!-- 帖子点赞 -->
	<insert id="likeFeed" parameterType="com.catstagram.entity.FeedLike">
		INSERT INTO
			catstagram_feed_like (feed_idx, member_idx, created_at)
		values
			(#{feed_idx}, #{member_idx}, NOW())
	</insert>
	
	<!-- 取消帖子点赞 -->
	<delete id="likeFeedCancel" parameterType="com.catstagram.entity.FeedLike">
		delete from
			catstagram_feed_like
		where
			feed_idx = #{feed_idx} and member_idx = #{member_idx}
	</delete>
	
	<!-- 我是否点赞了这条帖子 -->
	<select id="feedLikeYN" parameterType="com.catstagram.entity.FeedLike">
		select feed_like_idx from catstagram_feed_like where feed_idx = #{feed_idx} and member_idx = #{member_idx}
	</select>
</mapper>